.Rhistory
.RData
.Ruserdata
.Rproj.user/

.RhData

.Rprofile.user

/renv/
.renv/

/packrat/lib/
/packrat/lib-ext/
/packrat/lib-R/
/packrat/src/

*_cache/
/cache/
*_files/
/figure/

/rsconnect/

*.Rbuild
*.Rcheck/
/build/
/inst/doc/

*.tar.gz
*.tgz
*.bzip
*.zip

/src/.o
/src/.so
/src/*.dll
/src/RcppExports.cpp
/src/RcppExports.R

/man/

.DS_Store
Thumbs.db